body {
    margin: 0px auto;
}

#Donate-Cover {
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

.Donate-Container {
    text-align: center;
    padding: 90px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 50px;
}

.Donate-Btn {
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(218, 92, 8, 0.986);
    color: white;

}

.Donate-Btn a {
    text-decoration: none;
    color: white;

}

/* Donate Today Section Start */
.donate-speach {

    padding-bottom: 30px;
}

.Donate-ammount {
    text-align: center;
}

.Ammount a {
    margin-left: 40px;
    text-decoration: none;
    color: black;
    margin-top: 20px;

}

#Donation {
    border: 2px solid red;
    padding: 10px 15px;
    background-color: rgb(235, 182, 119);
}

.taka {
    margin-bottom: 2px;
    color: rgb(126, 114, 97);
}

.Horizontal-Line {
    width: 70%;
    align-items: center;
    margin-top: 0%;
}

.Taka-and-btn {
    margin-bottom: 50px;
}


/* Donation Plan Section Start */

.donate-plan {
    text-align: center;
    margin-bottom: 50px;
}

.donate-items {
    display: flex;
    justify-content: center;
}

.item1 {
    border: none;
    background-color: rgba(233, 150, 122, 0.349);
    border-radius: 10px;
    padding: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

.item2 {
    border: none;
    background-color: rgba(122, 122, 65, 0.178);
    border-radius: 10px;
    padding: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

.item3 {
    border: none;
    background-color: rgba(67, 35, 114, 0.192);
    border-radius: 10px;
    padding: 15px;
    margin-right: 10px;
    margin-left: 10px;

}

/* Donation System Start */

.survive-donation {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}

.survive-img img {
    margin: 10px auto 20px;
    display: block;
    border-radius: 20px;


}

.survive-doc {
    width: 40%;
    margin-left: 30px;
    justify-content: center;
    text-align: justify;
    margin-right: 30px;
}

/* My Update Section Added */

.updates {
    text-align: center;
}

.email-section {


    text-align: center;
    padding: 50px;
    background-color: rgba(187, 132, 201, 0.144);

}

/* Footer */

footer {
    font-family: 'Moon Dance', cursive;
    text-align: center;
    padding: 50px;
    background-color: black;
    color: white;
}